.mainPage {
    flex:             1;

    display:          flex;
    flex-direction:   column;
    justify-content:  space-between;
    align-items:      center;

    background-image: url("/images/nav_background.jpeg");
    background-size:  cover;
    padding:          50px;

    @media (max-width: 600px) {
        padding: 10px;
    }

    &_nav {
        display:         flex;
        justify-content: center;
        flex-wrap:       wrap;
    }

    &_nav-item {
        padding:       10px 20px;
        margin:        20px;

        border:        3px solid #5f0000;
        border-radius: 15px;
        box-shadow:    5px 5px 5px rgba(95, 0, 0, .5);

        text-align:    center;
        font-size:     26px;
        font-weight:   bold;
        color:         antiquewhite;

        transition:    transform 0.4s ease, color 0.3s ease;

        @media (max-width: 400px) {
            margin: 15px 10px;
        }

        &.mod_enter {
            background: #00c000;
        }

        &.mod_exit {
            background: red;
        }

        &:hover {
            transform:       translate(5px, 5px);
            color:           gold;
            text-decoration: none;
            box-shadow:      none;
        }
    }

    footer {
        display: flex;
    }

}

