.parks {

    flex:     1;
    position: relative;

    table {
        margin:          50px auto;

        border-collapse: collapse;
        border:          2px solid #000;

        th, td {
            padding: 5px 10px;
            border:  2px solid #000;
        }

        th {
            text-align: center;
        }
    }

}
