.parks {

    flex:     1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;


    table {
        margin:          25px auto 30px;

        border-collapse: collapse;
        border:          2px solid #000;

        th, td {
            padding: 5px 10px;
            border:  2px solid #000;
        }

        th {
            text-align: center;
        }

        .mod_delete, .mod_edit {
            text-align: center;
        }
    }

    &_add {
        width: 30px;
        height: 30px;
    }
}

